<!doctype html>
<html lang="en" prefix="zotero: http://www.zotero.org/namespaces/export#">
<head>
  <meta charset="utf-8">
{% include "partials/seo.njk" %}
  <link rel="stylesheet" href="/pagefind/pagefind-component-ui.css">
</head>
<body>
  {% include "partials/header.njk" %}
  <heading-anchors>
    <main class="h-entry" data-pagefind-body>
      {{ content | safe }}
    </main>
  </heading-anchors>
{% include "partials/footer.njk" %}
<script src="/js/bs.js"></script>
  <script type="module" src="/js/heading-anchors.js"></script>
  <script type="module" src="/pagefind/pagefind-component-ui.js"></script>
</body>
</html>
