<script type="application/ld+json">
{% set baseUrl = metadata.url | baseUrl %}
{
  "@context": "https://schema.org",
  "@type": "Blog",
  "name": "{{ metadata.title }}",
  "description": "{{ metadata.description }}",
  "url": "{{ '/' | absUrl(baseUrl) }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.title }}",
    "url": "{{ '/' | absUrl(baseUrl) }}"
  },
  "mainEntity": {
    "@type": "WebSite",
    "name": "{{ metadata.title }}",
    "url": "{{ '/' | absUrl(baseUrl) }}"
  }
}
</script>
