{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "@id": {{ (post_jsonld_url ~ "#article") | dump | safe }},
  "name": {{ post_jsonld_title | dump | safe }},
  "headline": {{ post_jsonld_title | dump | safe }},
  "description": {{ post_jsonld_description | dump | safe }},
  "url": {{ post_jsonld_url | dump | safe }},
  "inLanguage": {{ (metadata.language or "en") | dump | safe }},
  "datePublished": {{ post_jsonld_date_published | dump | safe }},
  "dateModified": {{ post_jsonld_date_modified | dump | safe }},
  "image": {{ post_jsonld_image | dump | safe }},
  "author": {
    "@type": "Person",
    "name": {{ post_jsonld_author | dump | safe }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ (metadata.publisher or "Whitestone Publications") | dump | safe }},
    "url": {{ metadata.url | dump | safe }}
  },
  "isPartOf": {
    "@type": "Blog",
    "@id": {{ (metadata.url ~ "/blog/") | dump | safe }},
    "name": {{ metadata.title | dump | safe }},
    "url": {{ (metadata.url ~ "/blog/") | dump | safe }}
  }{% if post_jsonld_citations and post_jsonld_citations.length %},
  "citation": {{ post_jsonld_citations | dump | safe }}{% endif %}
}
