<title>{{title or metadata.title}}</title>
<meta content="{{title or metadata.title}}" property="og:title" />
<meta content="{{title or metadata.title}}" property="dc:title" />
<meta content="{{title or metadata.title}}" name="twitter:title" />
<meta content="{{title or metadata.title}}" name="title" />
<meta content="{{title or metadata.title}}" property="og:site_name" />
<meta content="{{description or metadata.description}}" name="description" />
<meta
	content="{{description or metadata.description}}"
	property="facebook:description"
/>
<meta
	content="{{description or metadata.description}}"
	property="og:description"
/>
<meta
	content="{{description or metadata.description}}"
	name="twitter:description"
/>
<meta property="twitter:card" content="summary_large_image" />
<meta content="{{image or metadata.image}}" name="twitter:image" />
<meta content="{{image or metadata.image}}" name="facebook:image" />
<meta content="{{image or metadata.image}}" name="og:image" />
{% set baseUrl = metadata.url | baseUrl %}
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/thenewpolis-logo.png' | absUrl(baseUrl) }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/thenewpolis-logo.png' | absUrl(baseUrl) }}" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/images/thenewpolis-logo.png' | absUrl(baseUrl) }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/thenewpolis-logo.png' | absUrl(baseUrl) }}" />
<link rel="shortcut icon" href="{{ '/images/thenewpolis-logo.png' | absUrl(baseUrl) }}" />
<link rel="manifest" href="{{ '/site.webmanifest' | absUrl(baseUrl) }}" />
<meta content="{{ metadata.metasocial.facebook }}" property="facebook:author" />
<meta
	content="{{ metadata.metasocial.twitteruser }}"
	property="twitter:author"
/>
<meta property="dc:creator" content="{{ metadata.author.name or metadata.author or metadata.title }}" />
{% set dcPublisher = metadata.author.name or metadata.author or metadata.title %}
{% set dcDescription = description or metadata.description %}
{% set pageTags = tags or [] %}
{% set pageDate = date or page.date %}
{# Dublin Core base #}
<meta property="dc:publisher" content="{{ dcPublisher }}" />
<meta property="dc:language" content="en" />
<meta property="dc:format" content="text/html" />
<meta property="dc:rights" content="Copyright {{ dcPublisher }}. {{ metadata.url }}/copyright/" />
{# Dublin Core per-page #}
{% if pageDate %}<meta property="dc:date" content="{{ pageDate | isoDate }}" />{% endif %}
<meta property="dc:type" content="{{ 'article' if pageTags.length else 'text' }}" />
<meta property="dc:identifier" content="{{ page.url | absUrl(baseUrl) }}" />
{% if dcDescription %}<meta property="dc:description" content="{{ dcDescription }}" />{% endif %}
{% for tag in pageTags %}
  {% if tag != "posts" and tag != "pages" %}
<meta property="dc:subject" content="{{ tag }}" />
  {% endif %}
{% endfor %}
{% if metadata.metasocial.mastodon %}
<meta name="fediverse:creator" content="{{ metadata.metasocial.mastodon }}" />
{% endif %}
<meta content="{{ metadata.metasocial.twitter }}" name="twitter:site" />
<meta property="og:type" content="website" />
<meta content="index, follow" name="robots">
<link rel="canonical" href="{{ page.url | absUrl(baseUrl) }}" />
<link rel="sitemap" type="application/xml" title="{{ metadata.title }} Sitemap" href="{{ '/sitemap.xml' | absUrl(baseUrl) }}" />
<link rel="alternate" href="{{ '/feed/feed.xml' | absUrl(baseUrl) }}" type="application/atom+xml" title="{{ metadata.title }} Atom Feed" />
<link rel="alternate" href="{{ '/feed/feed.rss' | absUrl(baseUrl) }}" type="application/rss+xml" title="{{ metadata.title }} RSS Feed" />
<link rel="alternate" href="{{ '/feed/feed.json' | absUrl(baseUrl) }}" type="application/feed+json" title="{{ metadata.title }} JSON Feed" />
<link rel="alternate" href="{{ '/feed/twtxt.txt' | absUrl(baseUrl) }}" type="text/plain" title="{{ metadata.title }} twtxt Feed" />
<link rel="alternate" href="{{ '/feed/firehose.xml' | absUrl(baseUrl) }}" type="application/atom+xml" title="{{ metadata.title }} Firehose" />
<meta name="language" content="{{ metadata.language }}" />
<meta name="locale" content="{{ metadata.locale }}" />
<meta property="og:locale" content="{{ metadata.locale }}" />
<meta name="generator" content="{{ eleventy.generator }}" />
<link rel="stylesheet" href="/css/bs.css">
<link rel="stylesheet" href="/css/style.css">
{% include "schema-blog.njk" %}
