---
title: Search
description: Search articles, authors, and academic conferences across The New Polis.
permalink: /search/
layout: base.njk
---
<main class="container my-5" data-pagefind-ignore>
    <header class="mb-5 pb-3 border-bottom">
        <h1 class="display-5 serif fw-bold">{{ title }}</h1>
        <p class="lead text-secondary">{{ description }}</p>
    </header>

    <div class="serif">
        <pagefind-input autofocus placeholder="Type keywords (e.g. Critical Theory, Religion...)"></pagefind-input>
        <pagefind-summary></pagefind-summary>
        <pagefind-results show-images></pagefind-results>
    </div>
</main>
